<div *ngIf="!editAdminStatus">
    <div class="admin-image d-flex justify-content-center align-items-center">
        <img width="200px" height="200px" class="img-fluid rounded" [src]="url" alt="">
    </div>
    <div class="admin-update text-center mt-1">
        <h5 (click)="editadminbtnClick()" class="text-primary btn btn-link fs-5"> edit admin details <i class="fa-solid fa-pen"></i></h5>
    </div>
</div>

<div *ngIf="editAdminStatus" class="text-center p-3">
    <h3>Edit Admin details</h3>
    <label>
        <input (change)="getFile($event)" type="file" style="display: none;">
        <img width="100px" height="100px" class="img-fluid rounded" [src]="url" alt="">


    </label>
    <input [(ngModel)]="admin.name" type="text" class="form-control mt-1" placeholder="Admin name">
    <input [(ngModel)]="admin.password" type="text" class="form-control mt-1" placeholder="Admin password">
    <input (click)="cancel()" type="button" class="btn btn-primary mt-2 me-4" value="cancel">
    <input (click)="update()" type="button" class="btn btn-warning mt-2" value="Update">


</div>