/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
