<div class="d-flex border border-dark">
    <div style="width: 200px; height: 95vh;" class="sidebar bg-primary p-3 d-flex flex-column">
        <a routerLink="/home">Home</a>
        <a routerLink="/users">Users</a>
        <button (click)="logout()" class="btn mt-auto text-light fw-folder"> <i class="fa-solid fa-right-from-bracket ms-2"></i>LogOut</button>
    </div>

    <div class="dashboard p-3 w-100">
        <div class="row">
            <div class="col-lg-8">
                <div style="height: 150px; background-image: url(https://th.bing.com/th/id/R.a97218926982ca28c49e5d67a063d945?rik=DvsoaXLg1zBDTw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fsrM2MhP.jpg&ehk=9tvKT2PNhLSgZ1V7kRpTO3sQijbQ8CFWQMHOBemtFl4%3d&risl=&pid=ImgRaw&r=0);"
                    class="admin-panel border rounded shadow">
                    <h1 class="p-5 ms-5" style="color: aliceblue; "> Welcome <span>{{adminName}}</span> </h1>
                </div>

                <div class="d-flex mt-1">
                    <div style="height: 390px;" class="col-lg-6 border rounded me-2"><app-inline-calender></app-inline-calender></div>
                    <div style="width: 330px; height: 390px;" class="col-lg-6 border rounded ms-auto"><app-chart></app-chart></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div style="height: 350px" class="admin-details rounded border p-2">
                    <app-edit-admin (onUpdate)="updateAdminName($event)"></app-edit-admin>
                </div>

                <div style="height: 200px; background-image: url(https://th.bing.com/th/id/R.a97218926982ca28c49e5d67a063d945?rik=DvsoaXLg1zBDTw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fsrM2MhP.jpg&ehk=9tvKT2PNhLSgZ1V7kRpTO3sQijbQ8CFWQMHOBemtFl4%3d&risl=&pid=ImgRaw&r=0); color: aliceblue;"
                    class="random-user border rounded fs-5 text-center"><i
                        class="fa-users fa-solid me-2 mt-5"></i>Employees: <span class="ms-2">{{totalUserCount}}</span>
                </div>

            </div>
        </div>
    </div>
</div>